# Verteilung der Nutztiere in der Schweiz

## Einlesen der Daten:

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import matplotlib.pyplot as plt
import numpy as np

### Daten zu Tieren pro Gemeinde/Bezirk/Kanton:

In [2]:
tiere = pd.read_excel("Rohdaten/TiereEntwicklung.xlsx") #Daten von 1997, 2007 und 2017

In [3]:
tiere.head(5)

        Art  ID                            Ort   1997   2007   2017
0  Betriebe   1                        Schweiz  77730  61764  51620
1  Betriebe   2                       - Zürich   5024   4155   3432
2  Betriebe   3            >> Bezirk Affoltern    399    329    275
3  Betriebe   4     ......0001 Aeugst am Albis     30     18     14
4  Betriebe   5  ......0002 Affoltern am Albis     33     28     22

In [4]:
# beim mergen stellt sich später ein Problem mit Horgen raus (neue Nummer durch Gemeindefusion, ich prüfe hier)
tiere[(tiere["Ort"] == "......0295 Horgen")]

            Art   ID                Ort  1997  2007  2017
111    Betriebe  112  ......0295 Horgen    83    74    61
2503     Rinder  112  ......0295 Horgen  2505  2316  2320
4895     Pferde  112  ......0295 Horgen   146   150   148
7287     Schafe  112  ......0295 Horgen   254   137   153
9679     Ziegen  112  ......0295 Horgen    42    49    31
12071  Schweine  112  ......0295 Horgen   676   543   856
14463  Geflügel  112  ......0295 Horgen  1426   989   809
16855    Übrige  112  ......0295 Horgen   297   182    85

### Daten zur Bevölkerung pro Gemeinde/Bezirk/Kanton, inkl. Bereinigung

In [13]:
bevoelkerung = pd.read_excel("Rohdaten/BevölkerungEntwicklung.xlsx") #Daten von 1997, 2007 und 2017
bevoelkerung.head(5)

   Bevölkerung Jahr                            Ort   Anzahl
0              1997                        Schweiz  7081346
1              1997                       - Zürich  1178848
2              1997            >> Bezirk Affoltern    39263
3              1997     ......0001 Aeugst am Albis     1431
4              1997  ......0002 Affoltern am Albis     9451

In [14]:
bevoelkerung = bevoelkerung.pivot(index='Ort', columns='Bevölkerung Jahr', values='Anzahl') #brauchbar anordnen

In [15]:
bevoelkerung.head(5)

Bevölkerung Jahr            1997    2007    2017
Ort
- Aargau                  531665  574813  663462
- Appenzell Ausserrhoden   54136   52509   54954
- Appenzell Innerrhoden    14833   15300   16003
- Basel-Landschaft        253911  267166  285624
- Basel-Stadt             194913  184822  193070

In [16]:
bevoelkerung = bevoelkerung.reset_index()

In [17]:
bevoelkerung.columns.name = None

In [19]:
#Spalten umbenennen
spalten = {
    1997: 'Einwohner 1997',
    2007: 'Einwohner 2007',
    2017: 'Einwohner 2017'
}

In [20]:
bevoelkerung = bevoelkerung.rename(columns=spalten)

In [21]:
bevoelkerung.head(5)

                        Ort  Einwohner 1997  Einwohner 2007  Einwohner 2017
0                  - Aargau          531665          574813          663462
1  - Appenzell Ausserrhoden           54136           52509           54954
2   - Appenzell Innerrhoden           14833           15300           16003
3        - Basel-Landschaft          253911          267166          285624
4             - Basel-Stadt          194913          184822          193070

In [22]:
# auch hier der Horgen-Test
bevoelkerung[(bevoelkerung["Ort"] == "......0133 Horgen")]

                   Ort  Einwohner 1997  Einwohner 2007  Einwohner 2017
121  ......0133 Horgen           16535           18074           20291

### Die beiden Tabellen mergen und sinnvoller beschriften:

In [23]:
alle = tiere.merge(bevoelkerung, on='Ort', how='left')
alle.head(5)

,Art,ID,Ort,1997,2007,2017,Einwohner 1997,Einwohner 2007,Einwohner 2017
0,Betriebe,1,Schweiz,77730,61764,51620,7081346.0,7508739.0,8419550.0
1,Betriebe,2,- Zürich,5024,4155,3432,1178848.0,1284052.0,1487969.0
2,Betriebe,3,>> Bezirk Affoltern,399,329,275,39263.0,44635.0,52904.0
3,Betriebe,4,......0001 Aeugst am Albis,30,18,14,1431.0,1645.0,1977.0
4,Betriebe,5,......0002 Affoltern am Albis,33,28,22,9451.0,10302.0,11900.0

In [24]:
#Welche Orte haben keine Einwohner erhalten. Hier u.a. Horgen (aufgrund von diesem Test checke ich oben nochmals)
alle[(alle["Einwohner 2017"].isnull()) & (alle["Art"] == "Betriebe")]

,Art,ID,Ort,1997,2007,2017,Einwohner 1997,Einwohner 2007,Einwohner 2017
111,Betriebe,112,......0295 Horgen,83,74,61,NaN,NaN,NaN
164,Betriebe,165,......0294 Elgg,54,47,37,NaN,NaN,NaN
1146,Betriebe,1147,>> Kanton Appenzell Innerrhoden,698,567,465,NaN,NaN,NaN
1246,Betriebe,1247,......3544 Bergün Filisur,23,20,18,NaN,NaN,NaN
1250,Betriebe,1251,>> Region Engiadina Bassa / Val Müstair,319,258,215,NaN,NaN,NaN
1306,Betriebe,1307,>> Region Prättigau / Davos,694,521,414,NaN,NaN,NaN
2254,Betriebe,2255,>> Canton de Neuchâtel,1288,976,807,NaN,NaN,NaN
2261,Betriebe,2262,......6417 La Grande-Béroche,100,80,63,NaN,NaN,NaN

In [25]:
alle.rename(columns={"1997": "Tiere 1997", "2007": "Tiere 2007", "2017": "Tiere 2017"}, inplace=True)

In [26]:
alle.head(5)

,Art,ID,Ort,Tiere 1997,Tiere 2007,Tiere 2017,Einwohner 1997,Einwohner 2007,Einwohner 2017
0,Betriebe,1,Schweiz,77730,61764,51620,7081346.0,7508739.0,8419550.0
1,Betriebe,2,- Zürich,5024,4155,3432,1178848.0,1284052.0,1487969.0
2,Betriebe,3,>> Bezirk Affoltern,399,329,275,39263.0,44635.0,52904.0
3,Betriebe,4,......0001 Aeugst am Albis,30,18,14,1431.0,1645.0,1977.0
4,Betriebe,5,......0002 Affoltern am Albis,33,28,22,9451.0,10302.0,11900.0

### File speichern als .csv:

In [27]:
alle.to_csv('Rohdaten/einwohnerfehlen.csv')

### mit kompletten Einwohnerdaten wieder hochladen:

In [28]:
# Da es wenige Orte ohne Einwohner waren (zb Horgen), erfasse ich dich kurz im Excel und lade wieder hoch
alle = pd.read_csv("Rohdaten/nutztieremitalleneinwohnern.csv")

In [29]:
# jetzt stimmts, alle haben Einwohner
alle[(alle["Einwohner 2017"].isnull())]

Empty DataFrame
Columns: [Unnamed: 0, Art, ID, Ort, Tiere 1997, Tiere 2007, Tiere 2017, Einwohner 1997, Einwohner 2007, Einwohner 2017]
Index: []

### Spalten sinnvoller anordnen:

In [30]:
alle = alle[["ID", "Ort", "Art", "Tiere 1997", "Tiere 2007", "Tiere 2017", "Einwohner 1997", "Einwohner 2007", "Einwohner 2017"]]

In [31]:
alle.head(5)

,ID,Ort,Art,Tiere 1997,Tiere 2007,Tiere 2017,Einwohner 1997,Einwohner 2007,Einwohner 2017
0,1,Schweiz,Betriebe,77730,61764,51620,7081346,7508739,8419550
1,2,- Zürich,Betriebe,5024,4155,3432,1178848,1284052,1487969
2,3,>> Bezirk Affoltern,Betriebe,399,329,275,39263,44635,52904
3,4,......0001 Aeugst am Albis,Betriebe,30,18,14,1431,1645,1977
4,5,......0002 Affoltern am Albis,Betriebe,33,28,22,9451,10302,11900

### Namen bereinigen, Einheit für Orte zuteilen:

In [32]:
alle["Ort"]

0                              Schweiz
1                             - Zürich
2                  >> Bezirk Affoltern
3           ......0001 Aeugst am Albis
4        ......0002 Affoltern am Albis
5                ......0003 Bonstetten
6           ......0004 Hausen am Albis
7                  ......0005 Hedingen
8           ......0006 Kappel am Albis
9                    ......0007 Knonau
10              ......0008 Maschwanden
11           ......0009 Mettmenstetten
12                 ......0010 Obfelden
13                ......0011 Ottenbach
14               ......0012 Rifferswil
15                ......0013 Stallikon
16        ......0014 Wettswil am Albis
17               >> Bezirk Andelfingen
18                  ......0021 Adlikon
19              ......0022 Benken (ZH)
20           ......0023 Berg am Irchel
21           ......0024 Buch am Irchel
22                  ......0025 Dachsen
23                     ......0026 Dorf
24              ......0027 Feuerthalen
25                   ......0028 Flaach
26               ......0029 Flurlingen
27              ......0030 Andelfingen
28                 ......0031 Henggart
29                 ......0032 Humlikon
                     ...
19106      ......6748 Les Genevez (JU)
19107           ......6750 Lajoux (JU)
19108            ......6751 Montfaucon
19109               ......6753 Muriaux
19110           ......6754 Le Noirmont
19111          ......6757 Saignelégier
19112           ......6758 Saint-Brais
19113                ......6759 Soubey
19114        >> District de Porrentruy
19115                  ......6771 Alle
19116           ......6773 Beurnevésin
19117              ......6774 Boncourt
19118                ......6775 Bonfol
19119                  ......6778 Bure
19120                ......6781 Coeuve
19121                ......6782 Cornol
19122            ......6783 Courchavon
19123             ......6784 Courgenay
19124            ......6785 Courtedoux
19125             ......6787 Damphreux
19126                  ......6789 Fahy
19127             ......6790 Fontenais
19128         ......6792 Grandfontaine
19129                ......6793 Lugnez
19130            ......6800 Porrentruy
19131          ......6806 Vendlincourt
19132         ......6807 Basse-Allaine
19133         ......6808 Clos du Doubs
19134           ......6809 Haute-Ajoie
19135            ......6810 La Baroche
Name: Ort, Length: 19136, dtype: object

In [33]:
# Test für Gemeinde
re.search(r"^\.{6}\d{4} .+$", "......0001 Aeugst am Albis")

In [34]:
# Test für Bezirke
re.search(r"^>> .+$", ">> Wahlkreis Luzern-Stadt")

In [35]:
# Test für Kantone
re.search(r"^- .+$", "- Aargau")

In [36]:
# Test für Land
re.search(r"Schweiz", "Schweiz")

### Testen, ob Gemeinden auch als Gemeinden erkannt werden:

In [37]:
alle["Ort"].str.contains(r"^\.{6}\d{4} .+$")

0        False
1        False
2        False
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17       False
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
19106     True
19107     True
19108     True
19109     True
19110     True
19111     True
19112     True
19113     True
19114    False
19115     True
19116     True
19117     True
19118     True
19119     True
19120     True
19121     True
19122     True
19123     True
19124     True
19125     True
19126     True
19127     True
19128     True
19129     True
19130     True
19131     True
19132     True
19133     True
19134     True
19135     True
Name: Ort, Length: 19136, dtype: bool

### Neue Spalte mit Einheit für Gemeinden, Bezirke, Kantone, Land:

In [38]:
alle.loc[alle['Ort'].str.contains(r"^\.{6}\d{4} .+$"), 'Einheitstyp'] = "Gemeinde"
alle.loc[alle['Ort'].str.contains(r"^>> .+$"), 'Einheitstyp'] = "Bezirk"
alle.loc[alle['Ort'].str.contains(r"^- .+$"), 'Einheitstyp'] = "Kanton"
alle.loc[alle['Ort'].str.contains(r"Schweiz"), 'Einheitstyp'] = "Land"

In [39]:
alle

,ID,Ort,Art,Tiere 1997,Tiere 2007,Tiere 2017,Einwohner 1997,Einwohner 2007,Einwohner 2017,Einheitstyp
0,1,Schweiz,Betriebe,77730,61764,51620,7081346,7508739,8419550,Land
1,2,- Zürich,Betriebe,5024,4155,3432,1178848,1284052,1487969,Kanton
2,3,>> Bezirk Affoltern,Betriebe,399,329,275,39263,44635,52904,Bezirk
3,4,......0001 Aeugst am Albis,Betriebe,30,18,14,1431,1645,1977,Gemeinde
4,5,......0002 Affoltern am Albis,Betriebe,33,28,22,9451,10302,11900,Gemeinde
5,6,......0003 Bonstetten,Betriebe,22,19,14,3561,4612,5435,Gemeinde
6,7,......0004 Hausen am Albis,Betriebe,51,45,35,3034,3256,3571,Gemeinde
7,8,......0005 Hedingen,Betriebe,17,13,11,2802,3307,3687,Gemeinde
8,9,......0006 Kappel am Albis,Betriebe,27,26,22,855,857,1110,Gemeinde
9,10,......0007 Knonau,Betriebe,27,27,25,1228,1583,2168,Gemeinde
10,11,......0008 Maschwanden,Betriebe,27,20,18,510,568,626,Gemeinde
11,12,......0009 Mettmenstetten,Betriebe,57,49,47,3399,4005,4861,Gemeinde
12,13,......0010 Obfelden,Betriebe,29,22,17,4099,4406,5131,Gemeinde
13,14,......0011 Ottenbach,Betriebe,24,17,14,2172,2252,2591,Gemeinde
14,15,......0012 Rifferswil,Betriebe,21,18,16,704,817,1078,Gemeinde
15,16,......0013 Stallikon,Betriebe,25,20,15,2492,2805,3646,Gemeinde
16,17,......0014 Wettswil am Albis,Betriebe,9,7,5,3525,4220,5123,Gemeinde
17,18,>> Bezirk Andelfingen,Betriebe,619,498,408,24766,28027,30981,Bezirk
18,19,......0021 Adlikon,Betriebe,31,24,21,551,559,666,Gemeinde
19,20,......0022 Benken (ZH),Betriebe,24,22,20,717,753,857,Gemeinde
20,21,......0023 Berg am Irchel,Betriebe,35,27,16,528,563,567,Gemeinde
21,22,......0024 Buch am Irchel,Betriebe,32,25,20,693,815,957,Gemeinde
22,23,......0025 Dachsen,Betriebe,10,8,7,1269,1784,1998,Gemeinde
23,24,......0026 Dorf,Betriebe,14,13,11,526,637,629,Gemeinde
24,25,......0027 Feuerthalen,Betriebe,1,1,1,2673,3221,3596,Gemeinde
25,26,......0028 Flaach,Betriebe,39,35,26,1119,1212,1362,Gemeinde
26,27,......0029 Flurlingen,Betriebe,2,3,2,1183,1353,1434,Gemeinde
27,28,......0030 Andelfingen,Betriebe,13,15,12,1575,1720,2224,Gemeinde
28,29,......0031 Henggart,Betriebe,17,14,12,1438,1903,2242,Gemeinde
29,30,......0032 Humlikon,Betriebe,14,8,7,386,438,496,Gemeinde
...,...,...,...,...,...,...,...,...,...,...
19106,2363,......6748 Les Genevez (JU),Übrige,26,17,10,512,518,502,Gemeinde
19107,2364,......6750 Lajoux (JU),Übrige,26,73,30,641,687,669,Gemeinde
19108,2365,......6751 Montfaucon,Übrige,135,36,29,559,551,629,Gemeinde
19109,2366,......6753 Muriaux,Übrige,80,73,31,476,496,504,Gemeinde
19110,2367,......6754 Le Noirmont,Übrige,72,2,42,1600,1639,1845,Gemeinde
19111,2368,......6757 Saignelégier,Übrige,110,33,55,2350,2508,2556,Gemeinde
19112,2369,......6758 Saint-Brais,Übrige,31,18,55,220,225,228,Gemeinde
19113,2370,......6759 Soubey,Übrige,176,59,0,151,150,134,Gemeinde
19114,2371,>> District de Porrentruy,Übrige,2326,1488,1011,24571,24199,24727,Bezirk
19115,2372,......6771 Alle,Übrige,56,57,157,1533,1704,1817,Gemeinde
19116,2373,......6773 Beurnevésin,Übrige,28,47,5,170,155,127,Gemeinde
19117,2374,......6774 Boncourt,Übrige,60,65,80,1382,1293,1205,Gemeinde
19118,2375,......6775 Bonfol,Übrige,168,68,8,764,680,665,Gemeinde
19119,2376,......6778 Bure,Übrige,108,69,0,707,688,685,Gemeinde
19120,2377,......6781 Coeuve,Übrige,59,20,4,654,689,732,Gemeinde
19121,2378,......6782 Cornol,Übrige,79,24,8,816,866,1050,Gemeinde
19122,2379,......6783 Courchavon,Übrige,35,20,4,300,298,293,Gemeinde
19123,2380,......6784 Courgenay,Übrige,251,147,85,2143,2148,2295,Gemeinde
19124,2381,......6785 Courtedoux,Übrige,0,2,0,752,741,761,Gemeinde
19125,2382,......6787 Damphreux,Übrige,58,10,0,167,165,178,Gemeinde
19126,2383,......6789 Fahy,Übrige,14,15,40,451,372,365,Gemeinde
19127,2384,......6790 Fontenais,Übrige,121,70,133,1638,1693,1686,Gemeinde
19128,2385,......6792 Grandfontaine,Übrige,134,25,1,357,352,397,Gemeinde
19129,2386,......6793 Lugnez,Übrige,158,89,146,234,217,182,Gemeinde
19130,2387,......6800 Porrentruy,Übrige,100,33,41,6741,6564,6876,Gemeinde
19131,2388,......6806 Vendlincourt,Übrige,31,5,23,558,569,557,Gemeinde
19132,2389,......6807 Basse-Allaine,Übrige,82,64,4,1407,1356,1225,Gemeinde
19133,2390,......6808 Clos du Doubs,Übrige,356,305,136,1356,1299,1321,Gemeinde
19134,2391,......6809 Haute-Ajoie,Übrige,147,224,74,1032,1016,941,Gemeinde
19135,2392,......6810 La Baroche,Übrige,281,129,62,1254,1187,1212,Gemeinde

### Einheitsnummer der Gemeinden beibehalten in neuer Spalte:

In [40]:
alle['Ort'].str.extract(r"^\.{6}(\d{4}) .+$")

          0
0       NaN
1       NaN
2       NaN
3      0001
4      0002
5      0003
6      0004
7      0005
8      0006
9      0007
10     0008
11     0009
12     0010
13     0011
14     0012
15     0013
16     0014
17      NaN
18     0021
19     0022
20     0023
21     0024
22     0025
23     0026
24     0027
25     0028
26     0029
27     0030
28     0031
29     0032
...     ...
19106  6748
19107  6750
19108  6751
19109  6753
19110  6754
19111  6757
19112  6758
19113  6759
19114   NaN
19115  6771
19116  6773
19117  6774
19118  6775
19119  6778
19120  6781
19121  6782
19122  6783
19123  6784
19124  6785
19125  6787
19126  6789
19127  6790
19128  6792
19129  6793
19130  6800
19131  6806
19132  6807
19133  6808
19134  6809
19135  6810

[19136 rows x 1 columns]

In [41]:
alle['Ortsnummer'] = alle['Ort'].str.extract(r"^\.{6}(\d{4}) .+$")
alle.head(30)

,ID,Ort,Art,Tiere 1997,Tiere 2007,Tiere 2017,Einwohner 1997,Einwohner 2007,Einwohner 2017,Einheitstyp,Ortsnummer
0,1,Schweiz,Betriebe,77730,61764,51620,7081346,7508739,8419550,Land,NaN
1,2,- Zürich,Betriebe,5024,4155,3432,1178848,1284052,1487969,Kanton,NaN
2,3,>> Bezirk Affoltern,Betriebe,399,329,275,39263,44635,52904,Bezirk,NaN
3,4,......0001 Aeugst am Albis,Betriebe,30,18,14,1431,1645,1977,Gemeinde,0001
4,5,......0002 Affoltern am Albis,Betriebe,33,28,22,9451,10302,11900,Gemeinde,0002
5,6,......0003 Bonstetten,Betriebe,22,19,14,3561,4612,5435,Gemeinde,0003
6,7,......0004 Hausen am Albis,Betriebe,51,45,35,3034,3256,3571,Gemeinde,0004
7,8,......0005 Hedingen,Betriebe,17,13,11,2802,3307,3687,Gemeinde,0005
8,9,......0006 Kappel am Albis,Betriebe,27,26,22,855,857,1110,Gemeinde,0006
9,10,......0007 Knonau,Betriebe,27,27,25,1228,1583,2168,Gemeinde,0007
10,11,......0008 Maschwanden,Betriebe,27,20,18,510,568,626,Gemeinde,0008
11,12,......0009 Mettmenstetten,Betriebe,57,49,47,3399,4005,4861,Gemeinde,0009
12,13,......0010 Obfelden,Betriebe,29,22,17,4099,4406,5131,Gemeinde,0010
13,14,......0011 Ottenbach,Betriebe,24,17,14,2172,2252,2591,Gemeinde,0011
14,15,......0012 Rifferswil,Betriebe,21,18,16,704,817,1078,Gemeinde,0012
15,16,......0013 Stallikon,Betriebe,25,20,15,2492,2805,3646,Gemeinde,0013
16,17,......0014 Wettswil am Albis,Betriebe,9,7,5,3525,4220,5123,Gemeinde,0014
17,18,>> Bezirk Andelfingen,Betriebe,619,498,408,24766,28027,30981,Bezirk,NaN
18,19,......0021 Adlikon,Betriebe,31,24,21,551,559,666,Gemeinde,0021
19,20,......0022 Benken (ZH),Betriebe,24,22,20,717,753,857,Gemeinde,0022
20,21,......0023 Berg am Irchel,Betriebe,35,27,16,528,563,567,Gemeinde,0023
21,22,......0024 Buch am Irchel,Betriebe,32,25,20,693,815,957,Gemeinde,0024
22,23,......0025 Dachsen,Betriebe,10,8,7,1269,1784,1998,Gemeinde,0025
23,24,......0026 Dorf,Betriebe,14,13,11,526,637,629,Gemeinde,0026
24,25,......0027 Feuerthalen,Betriebe,1,1,1,2673,3221,3596,Gemeinde,0027
25,26,......0028 Flaach,Betriebe,39,35,26,1119,1212,1362,Gemeinde,0028
26,27,......0029 Flurlingen,Betriebe,2,3,2,1183,1353,1434,Gemeinde,0029
27,28,......0030 Andelfingen,Betriebe,13,15,12,1575,1720,2224,Gemeinde,0030
28,29,......0031 Henggart,Betriebe,17,14,12,1438,1903,2242,Gemeinde,0031
29,30,......0032 Humlikon,Betriebe,14,8,7,386,438,496,Gemeinde,0032

### Ortsname bestimmen/anpassen:

In [42]:
alle['Ortsname'] = alle['Ort']

In [43]:
#Gemeinden
alle["Ortsname"] = alle['Ortsname'].str.replace(r"^\.{6}\d{4} ", "")

In [44]:
#Bezirke
alle["Ortsname"] = alle['Ortsname'].str.replace(r"^>> ", "")

In [45]:
#Kantone
alle["Ortsname"] = alle['Ortsname'].str.replace(r"^- ", "")

In [46]:
alle.head(5)

,ID,Ort,Art,Tiere 1997,Tiere 2007,Tiere 2017,Einwohner 1997,Einwohner 2007,Einwohner 2017,Einheitstyp,Ortsnummer,Ortsname
0,1,Schweiz,Betriebe,77730,61764,51620,7081346,7508739,8419550,Land,NaN,Schweiz
1,2,- Zürich,Betriebe,5024,4155,3432,1178848,1284052,1487969,Kanton,NaN,Zürich
2,3,>> Bezirk Affoltern,Betriebe,399,329,275,39263,44635,52904,Bezirk,NaN,Bezirk Affoltern
3,4,......0001 Aeugst am Albis,Betriebe,30,18,14,1431,1645,1977,Gemeinde,0001,Aeugst am Albis
4,5,......0002 Affoltern am Albis,Betriebe,33,28,22,9451,10302,11900,Gemeinde,0002,Affoltern am Albis

### Nur noch Angaben, die ich brauche anzeigen:

In [47]:
alle = alle[["Ortsname", "Einheitstyp", "Art", "Tiere 1997", "Tiere 2007", "Tiere 2017", "Einwohner 1997", "Einwohner 2007", "Einwohner 2017", "Ortsnummer"]]

In [48]:
alle.head(5)

,Ortsname,Einheitstyp,Art,Tiere 1997,Tiere 2007,Tiere 2017,Einwohner 1997,Einwohner 2007,Einwohner 2017,Ortsnummer
0,Schweiz,Land,Betriebe,77730,61764,51620,7081346,7508739,8419550,NaN
1,Zürich,Kanton,Betriebe,5024,4155,3432,1178848,1284052,1487969,NaN
2,Bezirk Affoltern,Bezirk,Betriebe,399,329,275,39263,44635,52904,NaN
3,Aeugst am Albis,Gemeinde,Betriebe,30,18,14,1431,1645,1977,0001
4,Affoltern am Albis,Gemeinde,Betriebe,33,28,22,9451,10302,11900,0002

## File für Berechnungen vorbereiten:

### Anteil Tiere/Betriebe pro Einwohner:

In [49]:
alle['Anteil 2017'] = (alle['Einwohner 2017'] / alle['Tiere 2017']).round(2)

/Users/Fox/.virtualenvs/Hallo/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
alle['Anteil 2007'] = (alle['Einwohner 2007'] / alle['Tiere 2007']).round(2)

In [51]:
alle['Anteil 1997'] = (alle['Einwohner 1997'] / alle['Tiere 1997']).round(2)

In [52]:
alle

,Ortsname,Einheitstyp,Art,Tiere 1997,Tiere 2007,Tiere 2017,Einwohner 1997,Einwohner 2007,Einwohner 2017,Ortsnummer,Anteil 2017,Anteil 2007,Anteil 1997
0,Schweiz,Land,Betriebe,77730,61764,51620,7081346,7508739,8419550,NaN,163.110000,121.57,91.100000
1,Zürich,Kanton,Betriebe,5024,4155,3432,1178848,1284052,1487969,NaN,433.560000,309.04,234.640000
2,Bezirk Affoltern,Bezirk,Betriebe,399,329,275,39263,44635,52904,NaN,192.380000,135.67,98.400000
3,Aeugst am Albis,Gemeinde,Betriebe,30,18,14,1431,1645,1977,0001,141.210000,91.39,47.700000
4,Affoltern am Albis,Gemeinde,Betriebe,33,28,22,9451,10302,11900,0002,540.910000,367.93,286.390000
5,Bonstetten,Gemeinde,Betriebe,22,19,14,3561,4612,5435,0003,388.210000,242.74,161.860000
6,Hausen am Albis,Gemeinde,Betriebe,51,45,35,3034,3256,3571,0004,102.030000,72.36,59.490000
7,Hedingen,Gemeinde,Betriebe,17,13,11,2802,3307,3687,0005,335.180000,254.38,164.820000
8,Kappel am Albis,Gemeinde,Betriebe,27,26,22,855,857,1110,0006,50.450000,32.96,31.670000
9,Knonau,Gemeinde,Betriebe,27,27,25,1228,1583,2168,0007,86.720000,58.63,45.480000
10,Maschwanden,Gemeinde,Betriebe,27,20,18,510,568,626,0008,34.780000,28.40,18.890000
11,Mettmenstetten,Gemeinde,Betriebe,57,49,47,3399,4005,4861,0009,103.430000,81.73,59.630000
12,Obfelden,Gemeinde,Betriebe,29,22,17,4099,4406,5131,0010,301.820000,200.27,141.340000
13,Ottenbach,Gemeinde,Betriebe,24,17,14,2172,2252,2591,0011,185.070000,132.47,90.500000
14,Rifferswil,Gemeinde,Betriebe,21,18,16,704,817,1078,0012,67.380000,45.39,33.520000
15,Stallikon,Gemeinde,Betriebe,25,20,15,2492,2805,3646,0013,243.070000,140.25,99.680000
16,Wettswil am Albis,Gemeinde,Betriebe,9,7,5,3525,4220,5123,0014,1024.600000,602.86,391.670000
17,Bezirk Andelfingen,Bezirk,Betriebe,619,498,408,24766,28027,30981,NaN,75.930000,56.28,40.010000
18,Adlikon,Gemeinde,Betriebe,31,24,21,551,559,666,0021,31.710000,23.29,17.770000
19,Benken (ZH),Gemeinde,Betriebe,24,22,20,717,753,857,0022,42.850000,34.23,29.880000
20,Berg am Irchel,Gemeinde,Betriebe,35,27,16,528,563,567,0023,35.440000,20.85,15.090000
21,Buch am Irchel,Gemeinde,Betriebe,32,25,20,693,815,957,0024,47.850000,32.60,21.660000
22,Dachsen,Gemeinde,Betriebe,10,8,7,1269,1784,1998,0025,285.430000,223.00,126.900000
23,Dorf,Gemeinde,Betriebe,14,13,11,526,637,629,0026,57.180000,49.00,37.570000
24,Feuerthalen,Gemeinde,Betriebe,1,1,1,2673,3221,3596,0027,3596.000000,3221.00,2673.000000
25,Flaach,Gemeinde,Betriebe,39,35,26,1119,1212,1362,0028,52.380000,34.63,28.690000
26,Flurlingen,Gemeinde,Betriebe,2,3,2,1183,1353,1434,0029,717.000000,451.00,591.500000
27,Andelfingen,Gemeinde,Betriebe,13,15,12,1575,1720,2224,0030,185.330000,114.67,121.150000
28,Henggart,Gemeinde,Betriebe,17,14,12,1438,1903,2242,0031,186.830000,135.93,84.590000
29,Humlikon,Gemeinde,Betriebe,14,8,7,386,438,496,0032,70.860000,54.75,27.570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19106,Les Genevez (JU),Gemeinde,Übrige,26,17,10,512,518,502,6748,50.200000,30.47,19.690000
19107,Lajoux (JU),Gemeinde,Übrige,26,73,30,641,687,669,6750,22.300000,9.41,24.650000
19108,Montfaucon,Gemeinde,Übrige,135,36,29,559,551,629,6751,21.690000,15.31,4.140000
19109,Muriaux,Gemeinde,Übrige,80,73,31,476,496,504,6753,16.260000,6.79,5.950000
19110,Le Noirmont,Gemeinde,Übrige,72,2,42,1600,1639,1845,6754,43.930000,819.50,22.220000
19111,Saignelégier,Gemeinde,Übrige,110,33,55,2350,2508,2556,6757,46.470000,76.00,21.360000
19112,Saint-Brais,Gemeinde,Übrige,31,18,55,220,225,228,6758,4.150000,12.50,7.100000
19113,Soubey,Gemeinde,Übrige,176,59,0,151,150,134,6759,inf,2.54,0.860000
19114,District de Porrentruy,Bezirk,Übrige,2326,1488,1011,24571,24199,24727,NaN,24.460000,16.26,10.560000
19115,Alle,Gemeinde,Übrige,56,57,157,1533,1704,1817,6771,11.570000,29.89,27.380000
19116,Beurnevésin,Gemeinde,Übrige,28,47,5,170,155,127,6773,25.400000,3.30,6.070000
19117,Boncourt,Gemeinde,Übrige,60,65,80,1382,1293,1205,6774,15.060000,19.89,23.030000
19118,Bonfol,Gemeinde,Übrige,168,68,8,764,680,665,6775,83.120000,10.00,4.550000
19119,Bure,Gemeinde,Übrige,108,69,0,707,688,685,6778,inf,9.97,6.550000
19120,Coeuve,Gemeinde,Übrige,59,20,4,654,689,732,6781,183.000000,34.45,11.080000
19121,Cornol,Gemeinde,Übrige,79,24,8,816,866,1050,6782,131.250000,36.08,10.330000
19122,Courchavon,Gemeinde,Übrige,35,20,4,300,298,293,6783,73.250000,14.90,8.570000
19123,Courgenay,Gemeinde,Übrige,251,147,85,2143,2148,2295,6784,27.000000,14.61,8.540000
19124,Courtedoux,Gemeinde,Übrige,0,2,0,752,741,761,6785,inf,370.50,inf
19125,Damphreux,Gemeinde,Übrige,58,10,0,167,165,178,6787,inf,16.50,2.880000
19126,Fahy,Gemeinde,Übrige,14,15,40,451,372,365,6789,9.120000,24.80,32.210000
19127,Fontenais,Gemeinde,Übrige,121,70,133,1638,1693,1686,6790,12.680000,24.19,13.540000
19128,Grandfontaine,Gemeinde,Übrige,134,25,1,357,352,397,6792,397.000000,14.08,2.660000
19129,Lugnez,Gemeinde,Übrige,158,89,146,234,217,182,6793,1.250000,2.44,1.480000
19130,Porrentruy,Gemeinde,Übrige,100,33,41,6741,6564,6876,6800,167.710000,198.91,67.410000
19131,Vendlincourt,Gemeinde,Übrige,31,5,23,558,569,557,6806,24.220000,113.80,18.000000
19132,Basse-Allaine,Gemeinde,Übrige,82,64,4,1407,1356,1225,6807,306.250000,21.19,17.160000
19133,Clos du Doubs,Gemeinde,Übrige,356,305,136,1356,1299,1321,6808,9.710000,4.26,3.810000
19134,Haute-Ajoie,Gemeinde,Übrige,147,224,74,1032,1016,941,6809,12.720000,4.54,7.020000
19135,La Baroche,Gemeinde,Übrige,281,129,62,1254,1187,1212,6810,19.550000,9.20,4.460000

### File speichern als .csv:

In [53]:
#Sammlung und Bereinigung ist beendet. Ich speichere, um im Notebook "Nutztiere Auswertung" direkt starten zu können:
alle.to_csv('BereinigteDaten/nutztiereschweizfertig.csv')